@page "/Contact"
@using BlazorDemo.Shared
@inject ContactsClient ContactsClient

<h3>Contact toevoegen</h3>

<EditForm Model="_contact" OnValidSubmit="SubmitContactAsync">

    <div class="form-group">
        <label for="inputFirstName">Voornaam</label>
        <input type="text" class="form-control" id="inputFirstName" @bind-value="_contact.FirstName">
    </div>

    <button type="submit" class="mt-2 btn btn-primary">Verstuur contact</button>
</EditForm>

@code {
    private Contact _contact = new Contact();

    private async Task SubmitContactAsync()
    {
        await ContactsClient.SubmitContact(_contact);
        
    }





















    //<DataAnnotationsValidator />

    //<div class="form-group">
    //    <label for="inputLastName">Achternaam</label>
    //    <input type="text" class="form-control" id="inputLastName" @bind-value="_contact.LastName">
    //    <ValidationMessage For="@(() => _contact.LastName)"/>
    //</div>

    //<div class="form-group">
    //    <label for="inputPostalCode">Postcode</label>
    //    <input type="text" class="form-control" id="inputPostalCode" @bind-value="_contact.PostalCode">
    //    <ValidationMessage For="@(() => _contact.PostalCode)"/>
    //</div>

}